<% layout('/layouts/boilerplate') -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h2>Add your Listing</h2>
      <br />
      <form
        action="/listings"
        method="POST"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            placeholder="Add a catchy title"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Title required</div>
        </div>
        <br />
        
        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input name="listing[image][url]" type="file" class="form-control" required/>
        </div>
        <br />
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            placeholder="Enter description"
            type="text"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Description required</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="Enter price"
              class="form-control"
              min="0"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <br />
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              name="listing[country]"
              placeholder="Enter country"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country required</div>
          </div>
        </div>
        <br />
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            placeholder="Enter location"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location required</div>
        </div>

        <br />

        <br />
        <button class="btn btn-dark" style="background-color: red">
          Submit
        </button>
        <br /><br /><br />
      </form>
    </div>
  </div>
</body>
